body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: block;
    margin-right: 10px;
}

#content-container > button {
    background-color: gold;
    padding: 7px 14px;
    border: 1.6px solid grey;
    font-weight: 600;
    margin: 10px;
    width: 9%;
    cursor: pointer;
}
#content-container {
    margin-left: 0.7%;
    display: flex;
    justify-content: center;
    margin-top: 200px;

}

